:root {
  --cyan: #66fcf1;
  --grey: #c5c6c7;
}




.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 3em;
    margin-bottom: 1em;
  }
  
  input[type="text"] {
    padding: 0.5em;
    margin-right: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2em;
  }
  header{
    color:var(--cyan);
  }
  button {
    border: none;
    border-radius: 20px;
    padding:0px;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
  }
button:hover {
  transform: scale(1.1);
}


body {
  background-color: #1c1c1c;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Fira Sans', sans-serif;
  color: var(--grey);
}
/* Create a CSS gradient to add a colorful effect to the background image */
body::before {

  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(170deg, #0b013f 0%, rgba(0, 0, 0, 0) 100%);
  z-index: -1;
}
  #response {
    margin-top: 2em;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
  }
  /* Define the shake animation */
@keyframes shake {
  0% { transform: translate(0, 0); }
  10%, 30%, 50%, 70%, 90% { transform: translate(-10px, 0); }
  20%, 40%, 60%, 80% { transform: translate(10px, 0); }
  100% { transform: translate(0, 0); }
}

@keyframes mystical-text {
  0% {
    opacity: 0;
    text-shadow: none;
  }
  50% {
    opacity: 0.5;
    text-shadow: 0 0 20px #ffffff, 0 0 30px #00bfff, 0 0 40px #00ff00, 0 0 50px #ff00ff, 0 0 60px #ffff00;
  }
  100% {
    opacity: 1;
    text-shadow: none;
  }
}

.mystical {
  animation: mystical-text 5s ease-in-out;
  font-family: 'Gothic', sans-serif;
  font-size: 36px;
  color: purple;
  /*opacity: 0;*/
}
/* Apply the shake animation to an element */
.shake {
  animation: shake 0.5s;
}

#ballImage{
  height: 300px;
  width: 300px;
  border-radius:20px;
}
header{
  position: absolute;
  top: 0;
  right: 0;
}
output{
  position: absolute;
  top: 50px;
  left: 30px;

  z-index: 1;
}
#imageContainer{
  position: relative;
  display: inline-block;
}