:root {
  --cyan: #66fcf1;
  --grey: #c5c6c7;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
  
/* Setting common font */
h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 3em;
  margin-bottom: 1em;
  color:var(--grey);
}

p, a{
  font-family: 'Bebas Neue', cursive;
  color:var(--grey)
}

/* Structuring text boxes */
input[type="text"] {
  padding: 0.5em;
  margin-right: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2em;
}

/* Set the position of the header elements - logo and language menu */
header{
  position:absolute;
  top:0;
  right: .5vw;
  color:var(--cyan);
}

/* invert the BB logo so it's visible */
img.logo{
  filter: invert(100);
  
}

/* Set characteristics for the button that acts as the 8-ball
main thing is the cursor changes to aid user experience */
button {
  border: none;
  border-radius: 20px;
  padding:0px;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
}

/* 8-ball pops out when mousing over it */
button:hover {
  transform: scale(1.1);
}

/* Set the default background-colors and font for body elements */
body {
  background-color: #1c1c1c;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Fira Sans', sans-serif;
  color: var(--grey);
}

/* Create a CSS gradient to add a colorful effect to the background image */
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(170deg, #0b013f 0%, rgba(0, 0, 0, 0) 100%);
  z-index: -1;
}

/* Position the click prompt and response to be in the white square on the 8-ball */
#response, #clickPrompt {
    position: absolute;
    top: 35%;
    left: 49%;
    
    transform: translate(-50%, -50%);
    margin-top: 2em;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    width: 25%;
}

/* Define removal of the click to shake prompt */
@keyframes clickToShakePrompt {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    display: none;
    /* visibility: hidden; */
    /* z-index: -10; */
  }
}

/* Apply fade out to the click to shake prompt */
.prompter {
  font-family: 'Gothic', sans-serif;
  font-size: 36px;
  color: black;
  animation: clickToShakePrompt 5s;
}

/* Define the shake animation */
@keyframes shake {
  0% { 
    transform: translate(0, 0); 
  }
  10%, 30%, 50%, 70%, 90% { 
    transform: translate(-10px, 0); 
  }
  20%, 40%, 60%, 80% { 
    transform: translate(10px, 0); 
  }
  100% { 
    transform: translate(0, 0); 
  }
}

/* Animating answers to fade in after shaking */
@keyframes mystical-text {
  0% {
    opacity: 0;
    text-shadow: none;
  }
  50% {
    opacity: 0.5;
    text-shadow: 0 0 20px #ffffff, 0 0 30px #00bfff, 0 0 40px #00ff00, 0 0 50px #ff00ff, 0 0 60px #ffff00;
  }
  100% {
    opacity: 1;
    text-shadow: none;
  }
}

/* Apply mystical behavior to responses */
.mystical {
  animation: mystical-text 5s ease-in-out;
  font-family: 'Gothic', sans-serif;
  font-size: 36px;
  color: purple;
}

/* Apply the shake animation to an element */
.shake {
  animation: shake 0.5s;
}

/* Add position and display elements to imageContainer so we can position
the response with respect to the container */
#imageContainer{
  position: relative;
  display: inline-block;
  justify-content: center;
  align-content: center;
}

/* Set the size of the 8-ball image */
#ballImage{
  height: 450px;
  width: 580px;
  align-self: center;
  border-radius:20px;
}

/* Adding stars to the background */
.star {
  position: absolute;
  top: -10px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  z-index: -10;
  opacity: 0;
  background-color: #FFF;
  animation: starAnimation 5s linear infinite;
}

/* Animating background stars */
@keyframes starAnimation {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
